@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset additions */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

::selection {
	background: rgba(2, 166, 165, 0.35);
	color: #fff;
}

